<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd  
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.dangdang.com/schema/ddframe/rdb http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd">  
          
      
    <!-- 配置好dataSourceRulue,即对数据源进行管理 -->  
    <bean id="memberDataSourceRule" class="com.dangdang.ddframe.rdb.sharding.api.rule.DataSourceRule">  
        <constructor-arg>  
            <map>  
                <entry key="sharding_1" value-ref="sharding_1"/>  
            </map>  
        </constructor-arg>  
    </bean>  
         
      <!-- 对t_member表的配置，进行分库配置，逻辑表名为t_member，库有实际的三张表 -->  
    <bean id="memberTableRule" class="com.dangdang.ddframe.rdb.sharding.api.rule.TableRule">  
        <constructor-arg value="t_member" index="0"/>  
        <constructor-arg index="1">  
            <list>  
                <value>t_member_0</value>  
                <value>t_member_1</value>  
                <value>t_member_2</value>  
            </list>  
        </constructor-arg>  
        <constructor-arg index="2" ref="memberDataSourceRule"/>  
        <constructor-arg index="3" ref="memberTableShardingStrategy"/>  
    </bean>  
      
    <!-- t_member 分表策略 -->  
    <bean id="memberTableShardingStrategy" class="com.dangdang.ddframe.rdb.sharding.api.strategy.table.TableShardingStrategy">  
        <constructor-arg index="0" value="strategy"/>  
        <constructor-arg index="1">  
            <bean class="com.lwl.boot.sharding.jdbc.algorithm.MemberSingleKeyTableShardingAlgorithm" />  
        </constructor-arg>  
    </bean>  
      
          
  
</beans>  